name: backendpipline

on:
    push:
        branches:
            - main
    workflow_dispatch:
env:
  VERSION_NUMBER: ${{github.run_number}}
  SERVICE_NAME: ${{vars.SERVICE_NAME}}
  IMAGE_NAME: ${{vars.IMAGE_NAME}}
  DOCKER_COMPOSE_LOCATION: ${{vars.DOCKER_COMPOSE_LOCATION}}
jobs:
    unit-test:
        runs-on: ubuntu-latest
        steps:
            - name: copy code source
              uses: actions/checkout@v6
            - name: setup node
              uses: actions/setup-node@v6

            - name: install dependency
              run: npm i
            - name: excute test
              run: npm run test
    trivy-image-security-scan-job:
      needs: unit-test
      runs-on: ubuntu-latest
      steps:      
      - name: Checkout Code
        uses: actions/checkout@v4
      - name: install dependency
        run: npm i
      - name: run Trivy to scan code base file systeme
        uses: aquasecurity/trivy-action@0.28.0
        with:
          scan-type: 'fs'
          scan-ref: '.'
          format: 'table'
          exit-code: '1'
          ignore-unfixed: true
          severity: 'CRITICAL,HIGH'
    snyk-code-security-scan-job:
      needs: unit-test
      runs-on: ubuntu-latest
      steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Install Dependency Scanning Tool (Snyk)
        run: npm install -g snyk
      - name: build docker image
        run: docker build -t ${{env.IMAGE_NAME}} .
      - name: Snyk Authentication
        run: snyk auth ${{ secrets.SNYK_TOKEN }}
      - name: Run Snyk Vulnerability Scan on dependencencies
        run: |
            snyk test
            snyk monitor --org=devops-formation-15
            snyk test --severity-threshold=high 
     
           


    build:
        needs: [trivy-image-security-scan-job,snyk-code-security-scan-job]
        runs-on: ubuntu-latest
        steps:
            - name: copy code source
              uses: actions/checkout@v6
            - name: Login to Docker Hub
              uses: docker/login-action@v3
              with:
                  username: ${{ vars.DOCKERHUB_USERNAME }}
                  password: ${{ secrets.DOCKERHUB_TOKEN }}
            - name: build docker image
              run: docker build -t ${{env.IMAGE_NAME}} .
            - name: taracbilite de l ancien version
              run : docker  tag ${{env.IMAGE_NAME}} ${{env.IMAGE_NAME}}:v${{env.VERSION_NUMBER}}
            - name: push image
              run: docker push ${{env.IMAGE_NAME}}:latest
            - name: push image
              run: docker push ${{env.IMAGE_NAME}}:v${{env.VERSION_NUMBER}}

    deploy:
        runs-on: ubuntu-latest
        needs: build
        steps:
            - name: Execute remote SSH commands using password
              uses: appleboy/ssh-action@v1
              with:
                  host: ${{ secrets.VPS_HOST }}
                  username: ${{ secrets.VPS_USERNAME }}
                  password: ${{ secrets.VPS_PASSWORD }}
                  script: |
                      cd ${{env.DOCKER_COMPOSE_LOCATION}}
                      echo "pulling backend image..."
                      docker compose pull ${{env.SERVICE_NAME}}
                      echo "running the new image..." 
                      docker compose up -d  --force-recreate ${{env.SERVICE_NAME}}





        #                - name: Run Snyk Vulnerability Scan on  docker images
        # run: |
        #     snyk container test ${{ env.IMAGE_NAME }} \
        #        --file=Dockerfile \
        #        --org=devops-formation-15
        #     snyk container monitor ${{ env.IMAGE_NAME }} \
        #         --file=Dockerfile \
        #         --org=devops-formation-15 \
# build-and-push:
#     needs: test                          # only build if tests pass
#     runs-on: ubuntu-latest               # "ubuntu" label does not exist
#     steps:
#       - name: Checkout code
#         uses: actions/checkout@v4

#       - name: Set up Docker Buildx
#         uses: docker/setup-buildx-action@v3

#       - name: Login to Docker Hub
#         uses: docker/login-action@v3
#         with:
#           username: ${{ vars.DOCKERHUB_USERNAME }}
#           password: ${{ secrets.DOCKERHUB_TOKEN }}

#       - name: Build and push image
#         uses: docker/build-push-action@v6
#         with:
#           context: .
#           push: true
#           tags: nourzakhama2003/express-backend:latest
#           # optional: tag with commit SHA too
#           # tags: |
#           #   nourzakhama2003/express-backend:latest
#           #   nourzakhama2003/express-backend:${{ github.sha }}
